#footer {
  background-color: var(--tertiary-color);
  display: inline-block;
  width: 100%;
  //TODO: this is a temporary fix. for some unknown reason app-footer has a height of 17px.
  // So this isn't an Angular only problem, must be something in my calculations and/or css ( lineheights? )
  margin-bottom: -20px;
}

a.active {
  color: var(--quaternary-color);
  font-weight: bold;
}

.icon-list {
  display: inline-block;
}

.icon-link > img {
  width: 40px;
}

@media only screen and (min-width: 1024px) {
  .icon-list > li {
    display: inline-block;
    margin-right: 1rem;
  }

  .icon-list > li:last-child {
    margin-right: 0;
  }
}
