input,
select {
  border: 1px solid transparent;
  box-sizing: border-box;
  background-color: var(--tertiary-color);
  color: var(--secondary-color);
  transition: all 100ms;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
}

input[type='checkbox'] {
  height: 1rem;
  width: 1rem;
  border-radius: 0;
}

label + p {
  font-size: small;
}

select {
  width: 100%;
  margin: 0.5rem 0 1rem;
  padding: 0.5rem;
}

form button {
  margin: 0 0.5rem;
}

label {
  display: block;
}

input:focus,
input:focus-within,
input:active,
select:focus,
select:focus-within,
select:active {
  border-color: var(--quaternary-color);
}

input.invalid,
input.invalid:hover,
input.invalid:active,
input.invalid:focus,
input.invalid:focus-within {
  border-bottom-color: red;
}

.form-group {
  margin: 1.5rem 0;
}
